<h1>Admin page</h1>
<ul>
  {{#each model as |story|}}
  <h4>{{story.headline}}</h4>
  <button {{action 'delete' story}}>Delete Story</button>
  <br>
  {{update-story story=story update='update'}}
  <br>
  {{/each}}
</ul>
<br>
{{new-story saveStory='saveStory'}}
