<header class = "jumbotron">
  <h1 class="bustle">bustle-clone</h1>
</header>
<nav class='navbar navbar-default'>
  <div class="container-fluid">
    <div class='navbar-header'>
    <a class="navbar-brand" href="#">Home</a>
    <a class="navbar-brand" href="#">Politics</a>
    <a class="navbar-brand" href="#">Entertainment</a>
   </div>
 </div>
</nav>

<div class="container">
  {{outlet}}
</div>

<hr>

<footer>
  {{#link-to 'admin'}}Admin{{/link-to}}
</footer>
