<header class = "jumbotron">
  <h1>bustle-clone</h1>
</header>

<div class="container">
  {{outlet}}
</div>

<hr>

<footer>
  {{#link-to 'admin'}}Admin{{/link-to}}
  <br>
  {{#link-to 'index'}}index{{/link-to}}

</footer>
